<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=" initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
<title>数据</title>
	<link rel='stylesheet' type="text/css" href="/stylesheets/bootstrap.css" />
	<script type="text/javascript" src="/javascripts/jquery-2.0.0.min.js"></script>
	<!--
<script type="text/javascript" src="bootstrap.min.js"></script>
-->
<script type="text/javascript" src="http://static.paipaiimg.com/js/victor/lib/template.js"></script>


</head>
<body>

<form id="test" class="form-horizontal" role="form">
</form>

<a id="get_model" href="javascript:;">获取数据</a>


<script id="edit_panel_text" type="text/html">
	<div class="form-group" tag="<%=name%>">
    	<label class="col-sm-2 control-label"><%if(model.required) {%><span style="color:#F00;">*</span><%}%><%=model.label%>：</label>
		<%var _size = 2;%>
		<%if(model.maxLength > 100) {_size=3;}%>
    	<div class="col-xs-<%=_size%>">
    		<input type="text" name="<%=name%>" class="form-control" value="<%=model.defaultValue%>">
  		</div>
		<label class="control-label"><%=model.desc%></label>
	</div>
</script>

<script id="edit_panel_color" type="text/html">
	<div class="form-group" tag="<%=name%>">
    	<label class="col-sm-2 control-label"><%if(model.required) {%><span style="color:#F00;">*</span><%}%><%=model.label%>：</label>
    	<div class="col-xs-1">
    		<input type="text" name="<%=name%>" class="form-control" value="<%=model.defaultValue%>">
  		</div>
		<label class="control-label"><%=model.desc%></label>
	</div>
</script>

<script id="edit_panel_date" type="text/html">
	<div class="form-group" tag="<%=name%>">
    	<label class="col-sm-2 control-label"><%if(model.required) {%><span style="color:#F00;">*</span><%}%><%=model.label%>：</label>
    	<div class="col-xs-1">
    		<input type="text" name="<%=name%>" class="form-control" value="<%=model.defaultValue%>">
  		</div>
		<label class="control-label"><%=model.desc%></label>
	</div>
</script>

<script id="edit_panel_select" type="text/html">
	<div class="form-group" tag="<%=name%>">
    	<label class="col-sm-2 control-label"><%if(model.required) {%><span style="color:#F00;">*</span><%}%><%=model.label%>：</label>
    	<div class="col-xs-2">
			<select class="form-control" name="<%=name%>">
				<%for(var i in model.options) {%>
					<%var opt = model.options[i];%>
					<option value="<%=opt.val%>" <%=opt.val==model.defaultValue?'selected':''%> ><%=model.options[i].label%></option>
				<%}%>
			</select>
  		</div>
		<label class="control-label"><%=model.desc%></label>
	</div>
</script>

<script id="edit_panel_radio" type="text/html">
	<div class="form-group" tag="<%=name%>">
    	<label class="col-sm-2 control-label"><%if(model.required) {%><span style="color:#F00;">*</span><%}%><%=model.label%>：</label>
    	<div class="col-xs-2">
			<%for(var i in model.options) {%>
				<%var opt = model.options[i];%>
    			<div class="radio">
					<label class="checkbox-inline">
    					<input type="radio" name="<%=name%>" value="<%=opt.val%>" <%=opt.val==model.defaultValue?'checked':''%>>
    					<%=opt.label%>
  					</label>
				</div>
			<%}%>
  		</div>
		<label class="control-label"><%=model.desc%></label>
	</div>
</script>

<script id="edit_panel_checkbox" type="text/html">
	<div class="form-group" tag="<%=name%>">
    	<label class="col-sm-2 control-label"><%if(model.required) {%><span style="color:#F00;">*</span><%}%><%=model.label%>：</label>
    	<div class="col-xs-2">
			<%for(var i in model.options) {%>
				<%var opt = model.options[i];%>
    				<div class="checkbox">
						<label>
							<input val="<%=name%>" type="checkbox" name="<%=name%>" value="<%=opt.val%>" <%=opt.val==model.defaultValue?'checked':''%>> <%=opt.label%>
						</label>
					</div>
				<%}%>
  			</div>
		<label class="control-label"><%=model.desc%></label>
	</div>
</script>


<script type="text/javascript">
;(function() {
	var Open = {};
	var obj = {
			name : {
				type : 'text',
				label : '主题',
				required : true,
				defaultValue : 'aaaa',
				desc : '这回事',
				rule : '',
				maxLength : 150
			},
			color : {
				type : 'color',
				required : true,
				defaultValue : '#fff000',
				label : '颜色',
				desc : '这是选择颜色'
			},
			font : {
				type : 'select',
				label : '字体',
				required : false,
				options : [
						  {val:'Microsoft Yahei',label:'微软雅黑'},
						  {val:'SimSun',label:'宋体'},
						  {val:'kaiti',label:'楷体'},
						  {val:'SimHei',label:'黑体'},
						  {val:'lishu',label:'隶书'},
						  {val:'arial',label:'arial'},
						  {val:'comicSansMs',label:'comic sans ms'},
						  {val:'impact',label:'impact'},
						  {val:'timesNewRoman',label:'times new roman'}
					],
				defaultValue : 'SimHei',
				desc : '请选择字体'
			},
			beginDate : {
				type : 'date',
				required : false,
				defaultValue : '2014-04-04',
				label : '开始日期',
				desc : '请选择日期'
			},
			sex : {
				type : 'radio',
				required : false,
				options : [
				           {val : 'men', label : '男'},
				           {val : 'women', label : '女'}
				           ],
				defaultValue : 'women',
				label : '性别',
				desc : '请选择性别'
			},
			tick : {
				type : 'checkbox',
				required : false,
				options : [
				           {val : 'sz', label : '深圳'},
				           {val : 'gz', label : '广州'},
				           {val : 'bj', label : '北京'},
				           {val : 'sh', label : '上海'}
				           ],
				defaultValue : 'gz',
				label : '区域',
				desc : '参与调查'
			},
			link : {
				type : 'text',
				label : '跳转链接',
				required : true,
				defaultValue : 'bbbb',
				desc : '这回事',
				rule : '',
				maxLength : 150
			}
		};
	
	var text = function(json) {
		var _html = '';
		for(var i in obj) {
			_html += template.render('edit_panel_'+obj[i].type, {model : obj[i], name : i});
		}
		
		$('#test').append(_html);
	};
	text();
	
	
	$('#get_model').click(function() {
		var model = {};
		$('#test [tag]').each(function() {
			var name = $(this).attr('tag');
			var item = $(this).find('[name]');
			var val = '';
			if(item.prop('type') == 'radio') {
				val = $(this).find('[name]:checked').val();
			}else if(item.prop('type') == 'checkbox') {
				val = [];
				$(this).find('[name]:checked').each(function() {
					val.push(this.value);
				});
			}else {
				val = $('#test')[0][name].value;
			}
			model[name] = val;
		});
			console.log(JSON.stringify(model));
	});
})();
</script>
</body>
</html>